# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# react17
/react/node_modules
/react/package-lock.json

# vue2
/vue2/node_modules
/vue2/package-lock.json

# taro
/taro/node_modules
/taro/package-lock.json


# flutter
## Miscellaneous
/flutter/*.class
/flutter/*.log
/flutter/*.pyc
/flutter/*.swp
/flutter/.DS_Store
/flutter/.atom/
/flutter/.buildlog/
/flutter/.history
/flutter/.svn/

## IntelliJ related
/flutter/*.iml
/flutter/*.ipr
/flutter/*.iws
/flutter/.idea/

## Flutter/Dart/Pub related
/flutter/**/doc/api/
/flutter/**/ios/Flutter/.last_build_id
/flutter/.dart_tool/
/flutter/.flutter-plugins
/flutter/.flutter-plugins-dependencies
/flutter/.packages
/flutter/.pub-cache/
/flutter/.pub/
/flutter//build/

## Web related
/flutter/lib/generated_plugin_registrant.dart

## Symbolication related
/flutter/app.*.symbols

## Obfuscation related
/flutter/app.*.map.json

## Android Studio will place build artifacts here
/flutter//android/app/debug
/flutter//android/app/profile
/flutter//android/app/release
